<% provide(:title, 'Home') %>
<div class="crossfade">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div>
<div class="center jumbotron">
  <h1>Hanoi Xua</h1>
  <h2> The Hanoian's classic Cuisine  & Cooking class</h2>
  <%= link_to "Reservation Now!", 'about#contact', class: "btn btn-lg btn-primary" %>
</div>
